*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    text-align: center;
    padding: 40px;
    background-color: rgb(241, 75, 14);
    color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0,2);
}

h1{
    margin: 0;
    font-size: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 50px;
  padding: 30px;
  margin: 30px;
}

.card {
  background: rgb(250, 241, 241);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  transition: transform 0.2s;
  text-align: center;
}

.card ul li{
    list-style-type: none;
    font-size: 20px;
}

.card:hover {
  transform: scale(1.03);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.card h2 {
  margin: 10px;
  font-size: 30px;
  color: #ff5722;
}

.card p {
    font-size: 20px;
    font-weight: 500;
}

.card ul {
  margin: 10px;
  padding-left: 20px;
}

.expand-text {
  text-align: center;
  font-size: 0.9rem;
  color: #0e63a8;
  margin: 10px 0;
}

.card-back {
  max-height: 0;
  overflow: hidden;
  padding: 0 15px;
  color: #333;
  transition: max-height 0.5s ease;
  text-align: start;
}

.card input:checked ~ .card-back {
  max-height: 300px; 
  padding: 15px;
} 


/* media queries */
/* Extra Small Devices (max 250px) */
@media (max-width: 250px) {
  nav {
    padding: 10px;
  }
  nav h1 {
    font-size: 16px;
  }
  .grid {
    grid-template-columns: 1fr; /* ek hi column */
    gap: 10px;
    margin: 5px;
    padding: 5px;
  }
  .card {
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  .card h2 {
    font-size: 18px;
  }
  .card p,
  .card ul li {
    font-size: 14px;
  }
  .card img {
    height: 120px; /* chhoti screen ke liye image bhi small */
  }
}
